#compbackground{position: absolute;height: 100%;width: 100%;}
.masterDiv{
    position: absolute;
    top: 5em;
    bottom: -17px;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
  }
.scrollbar::-webkit-scrollbar {
    width:0.2em
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius:5em;
    border:0em solid white 
}
.scrollbar::-webkit-scrollbar-button {display:none}
.scrollbar {
    height:30em;
    width: 100%;
    //border:0.1em solid white;
    min-width: 150px;
    overflow-y: scroll
}

.overflow{min-height: auto}
