#Genrateotp,#hierarchy,#Login_otpinputfield,.verifyotpbutton,#newpassword,.showpassword,#genpassword{display:none}
#password_viewhide{
  position: absolute;   
  top:0.3em;
  right:0em;
  font-size: 1.4em;
}
#loginModal{display:none}
.loginsection{
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:auto;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
#closelogin{
  position: absolute;
  padding: 1em;
  top: 0.5em;
  left: 0.5em;
}