<div class="bg-dark">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="">HRMS</a>
      <span class="font-weight-bold text-white" style="font-size: 0.5em;">powered by</span>
      <a href="https://www.edeitic.com" class="text-white">EISLABS®</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item" *ngFor="let butt of topBarElements">
          <a class="nav-link" mdbDropdownToggle mdbWavesEffect [attr.href]="butt.href ? butt.href : null"
            (click)='butt.clickFun ? butt.clickFun() : null' *ngIf="message.beforelogin">
            <mdb-icon fas icon="{{butt.icon}}"></mdb-icon>{{butt.name}}<span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf=message.afterlogin>
            <app-notification></app-notification>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf=message.beforelogin style='z-index: 1;'>
            <app-loginregistration></app-loginregistration>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf=message.afterlogin>
            <app-profile></app-profile>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>