.modal-backdrop{
  display:none;
}
.showpassword{
  display:none;
}
#password_viewhide{
    position: absolute;   
    top:0.3em;
    right:0em;
    font-size: 1.4em;
  }
  .modal-open .modal {
    width: 2px;
    margin: 0 auto;
}
.modal-backdrop {
  display: none !important;
}