<div id="frontpage">
  <div class="masterDiv">
    <div class="">
    <div class="fixed-top bg-dark">
      <mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark" [containerInside]="false">
        <mdb-navbar-brand><a class="navbar-brand" href="#home">HRMS</a></mdb-navbar-brand>
        <links>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link waves-light" href="#features" mdbWavesEffect>
                <mdb-icon fas icon="ellipsis-v"></mdb-icon>Features<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" href="#pricingplan" mdbWavesEffect>
                <mdb-icon fas icon="hand-holding-usd"></mdb-icon>Pricing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light"  name="selectprice" #paymentbynavbar
                (click)="payment('navbarclick',paymentbynavbar.name)" mdbWavesEffect>
                <mdb-icon fas icon="shopping-cart"></mdb-icon> Buy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="portal"  routerLinkActive="active-link" (click)="openlogin(frame)"  mdbWavesEffect>
                <mdb-icon fas icon="sign-in-alt"></mdb-icon> Sign In
              </a>
            </li>
          </ul>
        </links>
      </mdb-navbar>
    </div>
    <!-- <section class="bg-white" id="home">
      <mdb-card cascade="true" wider="true" reverse="true" class="p-5">
        <div class="view view-cascade overlay waves-light p-4" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/baner.png"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <mdb-card-title>
            <h4>
              <strong>HRMS System</strong>
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            This is a platform where you can manage your office Work
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </section> -->
    <section class="bg-white font-weight-bold" id="home" style="font-family:'Geneva'">
      <div class="p-5">
        <div class="p-5">
          <mdb-carousel [animation]="'slide'" class="z-depth-3">
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../assets/images/baner.png" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../assets/images/adduser.png" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../assets/images/adminpanel.png" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../assets/images/netwaorkclick.png" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../assets/images/salaryslip.png" alt="Third slide">
            </mdb-carousel-item>
          </mdb-carousel>
          <div class="p-4 z-depth-3">
            <h5 class="text-center">This is a platform where you can manage your office Work</h5>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white" id="features">
      <div class="p-1">
        <div class="container my-5 p-3 z-depth-1">
          <section class="dark-grey-text">
            <h2 class="text-center font-weight-bold mb-4 pb-2">Features</h2>
            <p class="text-center lead grey-text mx-auto mb-5">
              Below features of HRMS will making your work easy
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="row mb-3">
                  <div class="col-2">
                    <i class="fas fa-2x fa-user-plus deep-dark-text"></i>
                  </div>
                  <div class="col-10">
                    <h5 class="font-weight-bold mb-3">Add Users</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                      nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">
                    <i class="fas fa-2x fa-user-times deep-dark-text"></i>
                  </div>
                  <div class="col-10">
                    <h5 class="font-weight-bold mb-3">Remove Users</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                      nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
                </div>
                <div class="row mb-md-0 mb-3">
                  <div class="col-2">
                    <i class="fas fa-2x fa-user-edit deep-dark-text"></i>
                  </div>
                  <div class="col-10">
                    <h5 class="font-weight-bold mb-3">Edit Users</h5>
                    <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-4 text-center">
                <img class="img-fluid" src="../../assets/images/banerimage.png"
                  alt="Sample image">
              </div> -->
              <div class="col-md-6
              
              ">
                <div class="row mb-3">
                  <div class="col-2">
                    <i class="far fa-2x fa-money-bill-alt deep-dark-text"></i>
                  </div>
                  <div class="col-10">
                    <h5 class="font-weight-bold mb-3">Salary Slip</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                      nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">
                    <i class="fas fa-2x fa-calendar-check deep-dark-text"></i>
                  </div>
                  <div class="col-10">
                    <h5 class="font-weight-bold mb-3">Attendance</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                      nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <i class="fas fa-2x fa-id-card-alt deep-dark-text"></i>
                  </div>
                  <div class="col-10">
                    <h5 class="font-weight-bold mb-3">Card Allot</h5>
                    <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="bg-white" id="pricingplan">
      <div class="" style="padding:3em">
        <section class="p-md-3 mx-md-5 text-center text-lg-left">
          <h2 class="text-center mx-auto font-weight-bold mb-5">Pricing Plan</h2>
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card text-center">
                <div class="card-header white-text grey darken-3">
                  <h4>Basic</h4>
                  <div class="d-flex justify-content-center align-items-end">
                    <h3 class="mb-0 h3">$50</h3>
                    <p class="mb-0 ml-2">/ 3 month</p>
                  </div>
                </div>
                <i class="fas fa-chalkboard fa-2x pt-5 dark-text"></i>
                <div class="card-body">
                  <p class="lead font-weight-bold">Pricing plan</p>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <a class="btn btn-dark btn-md" name="basic" #pricingbasic
                    (click)="payment('viapriceplan',pricingbasic.name)" role="button">Buy</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card text-center">
                <div class="card-header white-text grey darken-3">
                  <h4>Express</h4>
                  <div class="d-flex justify-content-center align-items-end">
                    <h3 class="mb-0 h3">$90</h3>
                    <p class="mb-0 ml-2">/ 6 month</p>
                  </div>
                </div>
                <i class="fas fa-briefcase fa-2x pt-5 dark-text"></i>
                <div class="card-body">
                  <p class="lead font-weight-bold">Pricing plan</p>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <a class="btn btn-dark btn-md" name="express" #pricingexpress
                    (click)="payment('viapriceplan',pricingexpress.name)" role="button">Buy</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card text-center">
                <div class="card-header white-text grey darken-3">
                  <h4>Super</h4>
                  <div class="d-flex justify-content-center align-items-end">
                    <h3 class="mb-0 h3">$120</h3>
                    <p class="mb-0 ml-2">/ 1 year</p>
                  </div>
                </div>
                <i class="fas fa-gem fa-2x pt-5 yellow-dark"></i>
                <div class="card-body">
                  <p class="lead font-weight-bold">Pricing plan</p>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <a class="btn btn-dark btn-md" name="super" #pricingsuper
                    (click)="payment('viapriceplan',pricingsuper.name)" role="button">Buy</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="p-4 bg-white"></section>
    <section class="bg-white">
      <div class="" id="demo_logincredentail">
        <mdb-card class="z-depth-2">
          <mdb-card-body>
            <mdb-card-title>
              <h5>Use below Cedentials for Demo</h5>
            </mdb-card-title>
            <mdb-card-text style="height:0.5em;" class="font-weight-bold">Username - demo@edeitic.com</mdb-card-text>
            <mdb-card-text style="height:0.5em;" class="font-weight-bold">Password - demo@edeitic.com</mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </section>
    <a href="#home">
      <mdb-icon fas icon="chevron-circle-up" class="clicktop text-white bg-dark z-depth-1 rounded-circle"></mdb-icon>
    </a>
    </div>
  </div>
</div>
